.block {
	background-color: #bce7f4;
	height: 100px;
	width: 100px;
	border: none;
	margin: none;
	padding: none;
	float: left;
}

#container {
	height: 800px;
	width: 800px;
	margin: auto;
}

#reset {
	width: 50px;
	height: 20px;
}

.new_row {
	clear: both;
}